{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/require-default-props": "off",
    "react/jsx-max-props-per-line": "off",
    "camelcase": 1,
    "max-len": "off"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "process": true,
    "__": true
  }
}
