.line{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.one{
    display: flex;
    width: 300px;
}

.prefix{
    line-height: 28px;
    width: 50px;
    margin-right:10px;
    text-align: right;

}

.select{
    width: 200px;
}

.range{
    width: 200px;
}

.three{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 300px;
}

.button{
    margin: 10px;
}

.troubleContent{
    width: 300px;
    display: inline-block;
    margin-bottom: 15px;
}

.troubleListBg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.troubleList {
    display: flex;
    flex-direction: column;
    /*margin: 0 5px 0 0;*/
    width: 33%;
}
.troubleList2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.troubleList > span, .troubleList2 > span {
    margin: 0 0 5px 0;
    font-size: 13px;
    color: #000;
}

.troubleName  {
    vertical-align: top;
    width: 100px;
    display: inline-block;
}

