.contentBg {
    padding: 15px;
    box-sizing: border-box;
    color: rgba(0,0,0,1);
    font-size:14px;
}
.baseBg {
    margin: 5px 0 20px 0px;
    display: flex;
    flex-direction: column;
}
.baseRight{
    margin-right: 30px;
}
.contentPadding {
    padding: 10px;
}
.cardBg {
    display: flex;
    justify-content: space-between;
}
.cardStyle {
    width: 49.5%;
    margin: 0 0 20px 0px;
    box-sizing: border-box;
}
.cardBottom {
    margin-bottom: 20px;
}

.emailStyle {
    width: 200px;
    float: left;
    margin-right: 5px;
}
.emailUpdate {
    border: none;
    color: #108ee9;
    padding: 0 5px;
    text-decoration: underline;
}
.emailUpdate:hover {
    text-decoration: none;
}

.packeFlex{
    display: flex;
    align-items: center;
}
.paymentFlex {
    display: flex;
    padding: 20px 35px;
}
.paymentInfo { margin-right:80px;}
.spanWidthL {
    min-width: 180px;
    max-width: 250px;
    display: inline-block;
    color: #797b7b;
    text-align:right;
    margin-right:10px;
}
.spanWidthR {
    min-width: 110px;
    max-width: 200px;
    display: inline-block;
    color: #797b7b;
}
.payLog {
    margin-bottom: 10px;
    border-bottom: 0.1em solid #ccc;
    padding: 5px 0;
    display: flex;
}
.paymentInline {
    flex: 1;
    /*display: inline-block;*/
    /*width: 250px;*/
}
.refundButton {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}
.antUploadText {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}

.returnForm {
    display: flex;
    flex-direction: column;
}
.returnDiv{
    display: flex;
    margin-top: 20px;
}
.returnSpan {
    display: inline-block;
    width: 80px;
}
.returnWidth {
    width: 60px;
}