.contentBg {
    padding: 15px;
    box-sizing: border-box;
    color: rgba(0,0,0,1);
    font-size:14px;
}
.baseBg {
    margin: 5px 0 20px 0px;
    display: flex;
    flex-direction: column;
}
.baseContent {
    display: flex;
    color: #333;
    font-size: 13px;
}/* maxWidth: '1200px' */
.spanWidth {
    min-width: 120px;
    max-width: 200px;
    display: inline-block;
    text-align:right;
    margin-right:10px;
}
.baseRight{
    margin-right: 30px;
}
.contentPadding {
    padding: 10px;
    color: #333;
}
.cardBg {
    display: flex;
    justify-content: space-between;
}
.cardStyle {
    width: 49.5%;
    margin: 0 0 20px 0px;
    box-sizing: border-box;
}
.cardBottom {
    margin-bottom: 20px;
}
.addressList {
    display: flex;
    margin-top: 5px;
    line-height: 15px;
}
.emailStyle {
    width: 200px;
    float: left;
    margin-right: 5px;
}
.emailUpdate {
    color: #108ee9;
    text-decoration: underline;
    flex: 0 0 50px;
}
.emailUpdate:hover {
    text-decoration: none;
}

.packeFlex{
    display: flex;
    align-items: center;
}
.paymentFlex {
    display: flex;
    padding: 20px 35px;
    color: #333;
}
.paymentInfo { margin-right:80px;}
.spanWidthL {
    min-width: 180px;
    max-width: 250px;
    display: inline-block;
    text-align:right;
    margin-right:10px;
}
.spanWidthR {
    min-width: 180px;
    max-width: 250px;
    display: inline-block;
}
.payLog {
    margin-bottom: 10px;
    border-bottom: 0.1em solid #ccc;
    padding: 5px 0;
    display: flex;
}
.paymentInline {
    flex: 1;
    /*display: inline-block;*/
    /*width: 250px;*/
}
.refundButton {
    position: absolute;
    right: 10px;
    top: 0px;
    display: block;
}
.antUploadText {
    margin-top: 8px;
    font-size: 12px;
    color: #333;
}

.returnForm {
    display: flex;
    flex-direction: column;
}
.returnDiv{
    display: flex;
    margin-top: 20px;
}
.returnSpan {
    display: inline-block;
    width: 80px;
}
.returnWidth {
    width: 60px;
}

.packgeContent {
    display: flex;
    color: #333;
    font-size: 13px;
    width: 100%;
}
.packgeL {
    flex: 0 0 300px;
}
.packgeWidth {
    min-width: 120px;
    max-width: 160px;
    display: inline-block;
    text-align:right;
    margin-right:5px;
}

.cardBottom table td,
.contentPadding table td,
.operatingTable table td {
    color: #333;
}

.center{
    display: flex;
    align-items: center;
}

.tableFloat {
    background-color: #fff;
    border-radius: 5px;
    color: #333;
}
.haveRemark {
    color:#f00;
    border-color: #f00;
}
.operatingTable {
    width: 400px;
    max-height: 300px;
    overflow: auto;
}
.buttonBorderBg {
    display: flex;
    flex-direction: column;
    color:#49a9ee;
}
.buttonBorderBg > span {
    cursor: pointer;
    outline: 0;
}
.btnSpace {
    margin: 0 15px;
}
.returnLinkBg {
    display: flex;
    align-items: center;
}
.returnLink {
    width: 80%;
    font-size: 14px;
}
.returnLinkTitle {
    color: red;
    margin-left: 10px
}
.priceSelect {
    width: 150px !important;
}
.priceInput {
    width: 150px;
}
.refund_account_title {
    font-size: 14px;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    height:48px;
    line-height:48px;
}
.refund_list { margin: 10px 0; }
.refund_name {
    width: 130px;
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;}