.spanWidth {
    width: 110px;
    display: inline-block;
    color: #BCC6CA;
}
.payLog {
    margin-bottom: 10px;
    border-bottom: 0.1em solid #ccc;
    padding: 5px 0;
}
.refundButton {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}
.antUploadText {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}