.layoutAside {
    display: flex;
    height: 100%;
}

.layoutAside aside {
    width: 180px;
    height: 100%;
    border-right: 1px solid #eeeef5;
}

.main {
    flex: 1;
    overflow: auto;
}

.crumb {
    border-bottom: 1px solid #eeeef5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.menubtn {
    /*margin-top: 20px;*/
    text-align: center;
    padding-right: 20px;
}

.menubtn a {
    margin-left: 40px;
}

.bread_crumbs_bg {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}