.content {
    padding:15px;
    margin:15px;
    border:1px solid rgba(204, 204, 204, 1);
}
.sumofmoney_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 50px;
    margin-bottom: 15px;
}
.descWidth {
    width: 150px;
    color: rgb(148, 148, 148);
    line-height: 28px;
}
.refundsgoods {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.reason {
    display: flex;
    flex-direction: row;
    border-bottom:1px solid rgba(204, 204, 204, 1);
    padding:10px;
}
.reasonitem {
    display: flex;
    flex-direction: column;
}
.mark {
    display: flex;
    margin-top: 10px;
    line-height: 28px;
}
.flex_cloumn {
    display: flex; flex-direction: column;
}
.flex_cloumn_top {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.flex_center {
    display: flex;
    align-items: center;
    /*margin-bottom:6px;*/
}

.mainContent {
    margin-bottom:15px;
}
.info_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin:5px 0 5px 50px;
    line-height: 25px;
    width:350px;
}
.infoList {}
.infoListName {
    color: rgb(148, 148, 148);
}
.mainContentB {
    padding: 0px 10px 10px 0px;
}
.listBg {
    font-size: 13px;
    margin: 5px 15px 5px 0;
}
.space {
    display: flex;
    margin-top: 10px;
}
.flex_span {
    margin: 0 15px 0 0;
}
.flex_input {
    width: 150px;
    margin-right: 15px;
}
.tipStyle {
    background: #ffe9a7;
    margin: 0;
    padding: 0 10px;
    border-radius: 4px;
}
.priceSelect {
    width: 150px !important;
    flex: 0 0 150px;
}
.priceInput {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 5px;
}