.filterBg {
    word-wrap: break-word ;
}

.rowSpace{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
    color: #333;
}

.rowSpaceList {
    min-width: 260px;
    max-width: 450px;
    margin: 5px 0 5px 15px;
}

.filterName {
    min-width:100px;
    max-width:195px;
    display: inline-block;
    text-align:right;
    padding-right:10px;
    vertical-align: middle;
}

form .colSpace, .colSpace{
    width:150px;
    display: inline-block;
}

.operatingTable {
    width: 100%;
    margin: 0 auto;
}