.content {
    padding:10px;
}
.sumofmoney_left {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.descWidth {
    width: 150px;
    color: rgb(148, 148, 148);
}
.refundsgoods {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.reason {
    display: flex;
    flex-direction: row;
}
.reasonitem {
    display: flex;
    flex-direction: column;
}
.mark {
    display: flex;
    margin-top: 20px;
}