.content {
    padding:20px;
    color: #000;
    font-size: 14px;
}
.filterBg {
    /* margin:0 0 25px;*/
    word-wrap: break-word ;
}

.rowSpace{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.rowSpaceList {
    min-width: 260px;
    max-width: 450px;
    margin: 5px 0;
}
form .colSpace, .colSpace{
    width:150px;
    display: inline-block;
}
form .colSpace2{
    width:330px;
    display: inline-block;
}
.filterSpace {
    margin-bottom: 20px;
}
.filterName {
    min-width:100px;
    max-width:150px;
    display: inline-block;
    text-align:right;
    padding-right:10px;
}
.filterButton {
    margin: 0 10px 0 36px;
}
.table_bg {
    margin-top:15px;
}
.orderList {
    margin-bottom:10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e9e9e9;
}
.orderTitle {
    width:100%;
    border-bottom:1px solid #e9e9e9;
    padding:10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderTable { width:75%;}
.orderOperateBg {
    border-left:1px solid #e9e9e9;
    width: 25%;
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
}
.orderOperate {
    width: 230px;
    margin:0 auto;
    text-align: center;
}
.orderOperate > button, .orderOperate > a  {
    width: 100px;
    margin: 6px;
}
.orderOperate > a  {
    display: inline-block;
    color: rgba(0,0,0,.65);
    font-size: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    line-height: 26px;
}
.orderOperate > a:hover {
    color: #108ee9;
    border-color: #108ee9;
}
.orderTitleL {
    display: flex;
    justify-content: flex-start;
}
.orderTitleR {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right:20px;
    align-items: center;
}
.orderTitleL > span, .orderTitleR > span {
    margin-left: 20px;
}
.orderTitleR > span {
    /*margin-right: 20px;*/
}
.ButtonBg {
    background: #f00;
    border: none;
    color: #fff;
    margin-right:30px;
}
.buttonBorderBg {
    display: flex;
    flex-direction: column;
    color:#49a9ee;
}
.buttonBorder, .buttonBorderBg > span {
    margin: 5px;
    cursor: pointer;
    outline: 0;
    text-align: center;
}

.tableFloat {
    background-color: #fff;
    border-radius: 5px;
}
.tableFloat:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.haveRemark { color:#f00; border-color: #f00;}


/* trouble order */
.troubleBg {
    padding:20px 20px 0;
}
.troubleBg > span {
    vertical-align: top;
    width: 100px;
    display: inline-block;
}
.troubleContent {
    width: 300px;
    display: inline-block;
    margin-bottom: 15px;
}
